#nav {
    height: 120px;
}

#content {
    padding-left: 2em;
    padding-right: 2em;
}

#slide-out {
    overflow-y: auto;
}

#nav-buttons {
    margin-top: 0.5em;
}

#profile-icon {
    color: grey;
}

#add-icon {
    color: grey;

}

#add-link {

}

#profile-link {
    padding-top: 1.8em;
}
#new-header {
  /*background-color: red;*/
  height: 120px;
  margin-top: 1em;
}
.link-main {
    font-weight: 600;
}

header, #main, footer {
    margin-left: 240px;
  }

  @media only screen and (max-width : 992px) {
    header, #main, footer {
      margin-left: 0;
    }
  }
