$nav_color: #FF7E0A;
$sub_color: #EE3633;

html {
  overflow: auto;
}
#single-line {
  white-space: nowrap;
  overflow: hidden;
}
#nav {
  height: 180px;
  background-color: $nav_color;
}
#content {
  padding-left: 2em;
  padding-right: 2em;
}
#slide-out {
  overflow-y: auto;
}
#create-button:active {
  background-color: #D5D5D5;
}
#nav-buttons {
  margin-top: 0.5em;
}
#class-side-row {
  margin-bottom: 0px;
}
#profile-icon {
  color: grey;
}
#profile-title {
  margin-top: -1em;
}
#add-icon {
  color: grey;
  font-size: 3em;
}
#add-class-title {
  margin-top: -2em;
}
#profile-link {
  padding-top: 1.8em;
}
#new-header {
  /*background-color: #65B4B0;*/
  height: 120px;
  margin-top: 1em;
}
#new-input {
  margin-top: 5.7em;
  background-color: white;
  padding-right: 3em;
  padding-left: 3em;
}
#class-top {
  margin-top: 4em;
  background-color: white;
  padding-right: 3em;
  padding-left: 3em;
}
#new-link {
  text-decoration: none;
  color: black;
}
#class-error {
  margin-top: -1.5em;
}
#new-submit {
  padding: 1.5em;
}
#create-box {
  margin-top: 2em;
}
#class-components {
  margin-top: 7em;
}
#class-header {
  margin-bottom: 1em;
}
#class-marks {
  margin-top: 5em;
}
#mark-title {
  .row {
    margin-bottom: 0;
  }
}
#class-delete {
  color: rgb(200, 200, 200);
  padding-top: 0.5em;
  font-size: 2em;

  i {
    margin-left: 1em;
  }
}
#mark-add-icon {
  margin-top: 0.7em;
  padding-left: 1em;
  font-size: 3em;
}
#mark-input {
  margin-top: 1.4em;
}
#mark-icons {
  padding-top: 0.5em;
  // padding-left: 3em;
}
#mark-icon-down {
  color: gray;
  margin-left: 1.7em;
}
#mark-input-container {
  margin-bottom: 0;
}
#need-container {
  font-size: 0.8em;

  div {
    border-right: solid 1px gray;
  }

  div:last-child {
    border-right: none;
  }

  p {
    padding: 0;
  }

  .need-final {
    font-weight: 400;
    margin-bottom: 1em;
  }

  #need-final-input {
    margin-top: -0.7em;
    margin-bottom: -0.2em;

    input {
      font-size: 1em;
    }
  }

  .need-grade {
    font-weight: 200;
  }
}
nav {
  .name-grade {
    font-weight: 500;
  }
  .name-aid {
    font-weight: 100;
  }

  #name-header {
    font-size: 4em;
    right: 0;
    bottom: 0;
    margin-right: 0.5em;
  }

  @media only screen and (max-width : 992px) {
    #name-header {
      text-align: right;
      width: 100%;
      margin-top: 1em;
      padding-right: 0.5em;
    }
  }
}
.about-section {
  border-left: 1px solid $nav_color;
  padding-left: 1.5em
}
#export-text {
  height: 10em;
  resize: none;
}
.button-collapse {
  margin-top: -16em !important;
}
.mark-header {
  font-size: 2em;
}
.component-header {
  margin-bottom: 0em;
}
.f-100 {
  font-weight: 100;
}
.f-200 {
  font-weight: 200;
}
.f-300 {
  font-weight: 300;
}
.link-main {
  font-weight: 600;
  margin-top: -1em;
}
.small-insets {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.error {
  color: red;
}
.click-area {
  cursor:pointer;
}

header, #main, footer {
  margin-left: 240px;
}

.nav-wrapper {
  margin-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, #main, footer {
    margin-left: 0;
  }

  .nav-wrapper {
    margin-left: 0;
  }
}
