#nav {
    height: 160px;
    background-color: #01B0F0;
}

#content {
    padding-left: 2em;
    padding-right: 2em;
}

#slide-out {
    overflow-y: auto;
}

#create-button:active {
  background-color: #D5D5D5;
}

#nav-buttons {
    margin-top: 0.5em;
}

#profile-icon {
    color: grey;
}

#add-icon {
    color: grey;

}
#profile-link {
    padding-top: 1.8em;
}
#new-header {
  /*background-color: #65B4B0;*/
  height: 120px;
  margin-top: 1em;
}
#new-input {
  margin-top: 5.7em;
  background-color: white;
  padding-right: 3em;
  padding-left: 3em;
}
#new-link {
  text-decoration: none;
  color: black;
}
#new-submit {
  padding: 1.5em;
}
#create-box {
  margin-top: 2em;
}
.link-main {
    font-weight: 600;
}

header, #main, footer {
    margin-left: 240px;
  }

  @media only screen and (max-width : 992px) {
    header, #main, footer {
      margin-left: 0;
    }
  }
